.gameBoard {
    background-color: offwhite;
    width: 90%;
    height: 90%;
    border: 1px black solid;
}

td {
    border: 1px black solid;
}

.snake{
    background-color: green;
}

.apple{
    background-color: red;
    border-radius: 50%;
}